@charset "utf-8";
.page-home {
    .intro {
        color: #fff;
        padding: .3rem;
        background: linear-gradient(215deg, rgba(51, 195, 255, 1) 0%, rgba(77, 127, 237, 1) 100%);
        h1 {
            font-size: .58rem;
            margin-bottom: .1rem;
        }
        p {
            font-size: .26rem;
            letter-spacing: 1px;
            font-weight: 300;
        }
    }
    main .bui-accordion {
        border-top: 0;
    }
    main>.bui-list {
        .bui-btn {
            padding-left: .4rem;
        }
    }
    dl {
        dt {
            padding-left: .4rem;
        }
        dd {
            background: #fff;
            padding-left: .5rem;
            padding-right: 0;
        }
    }
    .bui-nav {
        li {
            background: none;
            color: #999;
            font-size: .3rem;
            &.active {
                color: #333;
                background: none;
            }
        }
    }
    .bui-accordion {
        i {
            color: #999;
        }
        .bui-btn {
            color: #666;
        }
        >.bui-btn {
            color: #666;
        }
        .active {
            color: #39a4ff;
            i {
                color: #39a4ff;
            }
        }
    }
    /*.bui-accordion {
        overflow: visible;
        > .bui-btn {
            border-radius: .1rem;
            margin-bottom: .1rem;
            box-shadow: 0px 4px 10px 0px rgba(100,150,184,0.19);
        }
        dd {
            margin-bottom: .1rem;
            border-radius: .1rem;
            overflow: hidden;
        }
    }
    .bui-tab-main {
        .bui-page {
            main {
                padding: .3rem;
            }
        }
    }*/
}


/* sidebar 示例样式*/

.bui-sidebar img {
    width: 100%;
}

.bui-sidebar-wrap .bui-page main {
    background: #fff;
}

.menu {
    margin: .2rem;
    display: inline-block;
    background: #39a4ff;
    border-radius: .06rem;
    color: #fff;
    width: .7rem;
    height: .7rem;
    line-height: .6rem;
    text-align: center;
}


/*激活颜色修改*/

.menu.active {
    background: red;
}

.menu i {
    font-size: .48rem;
}

.placeholder {
    margin-top: 1rem;
    text-align: center;
}

.placeholder img {
    width: 1.4rem;
    margin: 0 auto .3rem auto;
}

.placeholder-text {
    width: 5.6rem;
    margin: 0 auto;
    border: 1px dashed #70B1E9;
    background: #ECF9FF;
    border-radius: .3rem;
    padding: .3rem;
}

.placeholder-text h3 {
    color: #333;
    font-size: .4rem;
    margin-bottom: .2rem;
}

.bui-accordion dd {
    background: #fff;
}

.bui-list-thumbnail .bui-btn {
    border-bottom: 0;
}

.price i {
    font-size: .2rem;
    font-style: normal;
    margin-right: .05rem;
}

.price {
    font-size: .36rem;
    color: #FF6701;
}

.controls-btn {
    background: #fff;
    margin: 0;
    padding: .3rem .2rem;
    border-top: 1px solid #efefef;
}

.controls-btn .bui-btn {
    margin-bottom: .2rem;
}

.stepbar {
    .bui-list {
        margin-bottom: .1rem;
    }
    .tips {
        margin-bottom: .5rem;
    }
}